<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Rates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Review Your Package</h2>
        <p>He's all the details about your package, including weight, shipping type, and shipping fee.</p>
        <p class="text-danger"><%= alert %></p>
        <p><b>Wiehgt:</b> <%= weight %> Oz</p>
        <p><b>Shipping Type:</b> <%= type %></p>
        <p><b>Shipping Fee:</b> <%= rate %> USD</p>
    </div>
</body>

</html>